 

<div class="row card">
  <div class="col-md-6">
     
    
      <nb-card-header>Incidents </nb-card-header>
      
        <form #myform = "ngForm" (ngSubmit) = "save(myform)">
       <div class="form-group">
             <label>Region</label>
             <div class="ng-autocomplete">
                  <ng-autocomplete 
                  aria-placeholder="Location"
                    [data]="geojson"
                    [searchKeyword]="keyword"
                    (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)'
                    (inputFocused)='onFocused($event)'
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">                                 
                  </ng-autocomplete>
                   
                  <ng-template #itemTemplate let-item>
                  <a [innerHTML]="Name"></a>
                  </ng-template>
                   
                  <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                  </ng-template>
                  </div>
             </div>
             <div class="form-group">
              <label>Zone</label>
               <div class="ng-autocomplete">
                   <ng-autocomplete 
                   aria-placeholder="Zone"
                     [data]="geojson"
                     [searchKeyword]="keyword"
                     (selected)='selectEvent($event)'
                     (inputChanged)='onChangeSearch($event)'
                     (inputFocused)='onFocused($event)'
                     [itemTemplate]="itemTemplate"
                     [notFoundTemplate]="notFoundTemplate">                                 
                   </ng-autocomplete>
                    
                   <ng-template #itemTemplate let-item>
                   <a [innerHTML]="Name"></a>
                   </ng-template>
                    
                   <ng-template #notFoundTemplate let-notFound>
                   <div [innerHTML]="notFound"></div>
                   </ng-template>
                   </div>
              </div> 
              <div class="form-group">
                <label>Location</label>
                 <div class="ng-autocomplete">
                     <ng-autocomplete 
                     aria-placeholder="Woreda"
                       [data]="geojson"
                       [searchKeyword]="keyword"
                       (selected)='selectEvent($event)'
                       (inputChanged)='onChangeSearch($event)'
                       (inputFocused)='onFocused($event)'
                       [itemTemplate]="itemTemplate"
                       [notFoundTemplate]="notFoundTemplate">                                 
                     </ng-autocomplete>
                      
                     <ng-template #itemTemplate let-item>
                     <a [innerHTML]="item.Name"></a>
                     </ng-template>
                      
                     <ng-template #notFoundTemplate let-notFound>
                     <div [innerHTML]="notFound"></div>
                     </ng-template>
                     </div>
                </div>
          <div class="form-group">
              <label>Symptom</label>
              <ng-multiselect-dropdown
  [placeholder]="'Symptoms'"
  [data]="sypmtoms"
  name="selectedItems"
  [settings]="dropdownSettings"
  (onSelect)="selectSypmtomEvent($event)"
  (onSelectAll)="selectSypmtomEvent($event)">
</ng-multiselect-dropdown>
 
                </div>
          <div class="form-group">
           
            <textarea col=10 row=18 nbInput  name="Description" ngModel placeholder="Description"></textarea>
          </div>
          <button type="submit"   nbButton status="success">Send</button>
        </form> 
    
  </div>

 